<div class="card">
  <%= image_tag plant.image_url, alt: plant.name, class: "card-img-top" %>
  <div class="card-body">
    <h5 class="card-title"><%= plant.name %></h5>
    <!-- plant => plant instance -->
    <p>
      <% plant.tags.each do |tag| %>
        <span class="badge badge-primary"><%= tag.name %></span>
      <% end %>

      <span
        class="badge badge-warning btn"
        data-toggle="modal"
        data-target="#plant-modal-form-<%= plant.id %>">
        +
      </span>
    </p>
    <%= link_to "Delete", plant_path(plant), method: :delete %>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="plant-modal-form-<%= plant.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add tag to <%= plant.name %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render "taggings/form", plant: plant, tagging: Tagging.new %>
      </div>
    </div>
  </div>
</div>
